@model ViewQuestionViewModel
@using QASite.Data

<div class="row" style="margin-top:100px;">
    <div class="col-md-8 offset-md-2 bg-light p-4 shadow rounded">
        <h2>@Model.Question.Title</h2>
        <hr />
        <p>@Model.Question.Text</p>
        <hr />
        <span>Asked by @Model.QuestionUser.User.Name </span>
        <span>on </span>
        <span>@Model.Question.DatePosted.ToShortDateString()</span>
        <br />
        <span>Tags: </span>
        @foreach (var questionTag in Model.QuestionTags)
        {
            <span class="badge bg-primary">@questionTag.Tag.Description </span>
        }
        <br />
        <span>Likes: </span>
        <span>@Model.Question.Likes</span>
        <br />
        @if (User.Identity.IsAuthenticated)
        {
            <i style="font-size:40px;cursor:pointer;" class="bi bi-heart-fill" id="like-question" data-question-id="@Model.Question.Id"></i>
        }
    </div>
    <div class="col-md-8 offset-md-2">
        <h3>Answers:</h3>
    </div>
    @if (Model.AnswerUsers == null)
    {
        <div class="col-md-8 offset-md-2 card card-body bg-light">
            <h3>No answers yet. Be the first one to submit one!</h3>
        </div>
    }
    else
    {
        @foreach (var answerUser in Model.AnswerUsers)
        {
            <div class="col-md-8 offset-md-2 card card-body bg-light">

                <span>@answerUser.Answer.Text </span>

                <br />
                <span>Answered by @answerUser.User.Name on @answerUser.Answer.DatePosted.ToShortDateString() </span>
                <hr />
            </div>
        }
    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-8 offset-md-2 card card-body bg-light mt-4">
                <h2>Submit an Answer</h2>
                <form method="post" action="/home/submitanswer">
                    <input type="hidden" name="questionId" value="@Model.Question.Id" />
                    <textarea placeholder="Type your text here..." name="text" class="form-control" rows="10"></textarea>
                    <br />
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    }

</div>

@section scripts{
    <script src="~/js/viewquestion.js"></script>
}